.btn {
  background-color: $bgc-color-white;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  @include transition;

  &--main {
    @extend .btn;
    padding: 1rem 3rem;
    color: $font-color-gray;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      background-color: darken($bgc-color-white, 10%);
    }
  }

  &--sub {
    @extend .btn;
    color: $font-color-white;
    background: none;
    border: 1px solid $color-gray;
    border-radius: 2px;
    font-weight: normal;
  }

  &--play {
    @extend .btn;
    position: absolute;
    bottom: 27%;
    right: 20%;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    box-shadow: 0 5px 5px 2px rgba(#333, .5);
    @include transition;


    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(1);
    }

    .play-start {
      @include positionAbsCenter;
      display: block;
      width: 20%;
      height: 20%;
      clip-path: polygon(0 0, 0% 100%, 100% 47%);
      background-color: $bgc-color-red;
    }

  }
}