*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include forTabletPortrait {
    font-size: 100%;
  }

  @include forTabletLandscape {
    font-size: 60%;
  }

  @include forLaptop {
    font-size: 80%;
  }

  @include forDesktop {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}