body {
  font-size: 1rem;
  color: $color-white;
}

.heading--primary {
  font-size: 4rem;
  letter-spacing: .1rem;

  @include forTabletPortrait {
    font-size: 5rem;
  }

  @include forLaptop {
    font-size: 6rem;
  }

  @include forDesktop {
    font-size: 5rem;
  }
}

.paragraph {
  color: $font-color-gray;
}