$color-white: #fff;
$color-black: #000;
$color-gray: #aaa;
$color-gray-light: #bbb;


$font-color-black: #222;
$font-color-white: #eee;
$font-color-gray: #555;
$font-color-blue: #4580ee;

$bgc-color-white: #fff;
$bgc-color-gray: #ccc;
$bgc-color-blue: #4580ee;
$bgc-color-red: #c72b2b;