.welcome {
  padding: $section-padding;
}

.box-container {
  // padding: 2rem;

  @include forTabletLandscape() {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  @include forLaptop {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  @include forDesktop {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}

.box {
  margin: 0 auto;
  padding: 3rem 1rem;
  width: 80%;

  &:nth-child(1) {
    width: 90%;

    @include forTabletLandscape {
      width: 30%;
    }

    @include forLaptop {
      width: 30%;
    }

    @include forDesktop {
      width: 30%;
    }
  }

  @media only screen and (orientation: landscape) {
    width: 60%;
  }

  @include forTabletPortrait {
    width: 50%;
    margin: 0 auto;
  }

  @include forTabletLandscape {
    width: 30%;
  }

  @include forLaptop {
    width: 30%;
  }

  @include forDesktop {
    width: 30%;
  }
}

.welcome__footer {
  width: 70%;
  margin: 3rem auto;
  color: $font-color-black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  @include forLaptop {
    margin: 4rem auto;
  }

  @include forDesktop {
    margin: 5rem auto;
  }
}