*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  overflow-x: hidden; }

ul {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none; }

body {
  font-size: 1rem;
  color: #fff; }

.heading--primary {
  font-size: 6rem;
  letter-spacing: .1rem; }

.paragraph {
  color: #555; }

.header {
  position: relative;
  height: 100vh;
  width: 100%; }
  .header__bgc {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/bgc1-big.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bgc1-big.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 90%); }
  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 80%;
    background-color: #c72b2b; }
  .header__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center; }
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase; }
  .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center; }
  .header .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center; }
    .header .nav__item:not(:last-child) .nav__link {
      margin-right: 3rem; }
    .header .nav__item:last-child .nav__link {
      padding: 1rem 3rem;
      font-weight: normal; }
    .header .nav__item:last-child .nav__link:hover {
      background-color: rgba(199, 43, 43, 0.5);
      color: #eee; }
  .header .nav__link {
    display: block;
    color: #eee;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .header .nav__link:hover {
      color: rgba(199, 43, 43, 0.5); }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    top: 40%; }
  .header__text {
    width: 60%;
    margin: 1rem auto 2rem auto;
    color: #bbb;
    font-size: 1.4rem;
    line-height: 1.8; }

.btn, .btn--main, .btn--sub, .btn--play {
  background-color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .btn--main {
    padding: 1rem 3rem;
    color: #555;
    font-size: 1rem;
    font-weight: bold; }
    .btn--main:hover {
      background-color: #e6e6e6; }
  .btn--sub {
    color: #eee;
    background: none;
    border: 1px solid #aaa;
    border-radius: 2px;
    font-weight: normal; }
  .btn--play {
    position: absolute;
    bottom: 27%;
    right: 20%;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px 2px rgba(51, 51, 51, 0.5);
    box-shadow: 0 5px 5px 2px rgba(51, 51, 51, 0.5);
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .btn--play:hover {
      -webkit-transform: scale(1.03);
      transform: scale(1.03); }
    .btn--play:active {
      -webkit-transform: scale(1);
      transform: scale(1); }
    .btn--play .play-start {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: block;
      width: 20%;
      height: 20%;
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 47%);
      clip-path: polygon(0 0, 0% 100%, 100% 47%);
      background-color: #c72b2b; }
